.DS_Store
BİL:YAP 495 — Proje Grup Sistemi.html
BİL_YAP_495_Yazim_Rehberi.md
ozdevinirler_analysis_report.pdf
ozdevinirler_pke_plan_report.pdf
ozdevinirler_project_proposal.pdf
ozdevinirler_project_specifications.pdf
